<!DOCTYPE HTML>
<html>

<head>
    <title>West Wind Place- Allendale, MI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120735202-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-120735202-2');
    </script>
</head>

<body class="is-preload homepage">
    <div id="page-wrapper">

        <div id="header-wrapper">
            <header id="header" class="container">

                <a href="/">
                    <div id="logo" class="pointer">
                        <img src="/assets/images/west-wind-logo.png" alt="West Wind Logo" height="100%" width="100%">
                    </div>
                </a>

                <nav id="nav">
                    <ul>
                        <li class="current"><a href="/">Home</a></li>
                        <li>
                            <a href="/plans">Floor Plans</a>
                            <ul>
                                <li><a href="/plans">All Plans</a></li>
                                <li>
                                    <a href="/plans#2bed">2 Bedroom</a>
                                    <ul>
                                        <li><a href="/plans#2StyleA">2 Beds 2 Baths Style A</a></li>
                                        <li><a href="/plans#2StyleB">2 Beds 2 Baths Style B</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/plans#1bed">1 Bedroom</a>
                                    <ul>
                                        <li><a href="/plans#1StyleA">1 Bed 1 Bath Style A</a></li>
                                        <li><a href="/plans#1StyleB">1 Bed 1 Bath Style B</a></li>
                                        <li><a href="/plans#1StyleS">1 Bed 1 Bath Studio</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/gallery">Photo Gallery</a></li>
                        <li><a href="amenities">Amenities</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                    <ul class="floatRight">
                        <li><a target="_blank" href="https://www.rentcafe.com/residentservices/west-wind-place/userlogin.aspx">Resident Portal</a></li>
                        <li><a target="_blank" href="assets/files/Westwind-Application-for-Tenancy.pdf">Apply Online</a></li>
                    </ul>
                </nav>

            </header>
        </div>

        <!-- Banner -->
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Hi, Welcome to West Wind Place!</h2>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="contact" class="button large icon fa-arrow-circle-right">Setup a Visit</a></li>
                            <li><a href="/plans" class="button alt large icon fa-arrow-circle-right">Floor Plans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features -->
        <div id="features-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="amenities" class="image featured"><img src="/assets/images/HomeCooking.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>HOME COOKING</h2>
                                </header>
                                <p>Enjoy spacious kitchens with stainless steel appliances, ample storage, and room to have several cooks in the kitchen.
                                    <p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="amenities" class="image featured"><img src="/assets/images/Recharge.png" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>RECHARGE</h2>
                                </header>
                                <p>Convenient USB charging ports located in every apartment. Great connections inside and outside.</p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="amenities" class="image featured"><img src="/assets/images/WellDone.png" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>WELL DONE</h2>
                                </header>
                                <p>Our grilling area and fire pits are ready for outdoor gatherings. Located just behind the clubhouse.</p>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-12 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <h2>live well >> connected</h2>
                                <p>Whether you need a home that is pet friendly or an active community in a natural setting with walking trails, West Wind Place provides homes designed with the young professional in mind. Our apartments are loaded with high-end
                                    amenities like patios, energy-efficient LED lighting, quartz countertops and FREE WI-FI.</p>
                                <p>We are nestled in the quiet, beautiful suburbs of Allendale. West Wind Place apartments are conveniently located for commuters! Your apartment would be a short drive of both the city of Grand Rapids and the Lake Michigan
                                    beaches in Grand Haven and Holland.</p>
                                <p>Are you shopping for a home in the area or here for business? We offer short-term and corporate leases. Furnished apartments are available. Call our office today at <a href="tel:616-895-6000">616-895-6000</a> to discuss
                                    your apartment options.</p>
                                <a href="contact" class="button icon fa-arrow-circle-right">Setup a Visit</a>
                            </section>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>

                <!-- Start Of Columns -->
                <div class="container">
                    <div class="row gtr-200">
                        <div class="col-3 col-12-medium">
                            <div id="content" class="modules">

                                <!-- Content -->
                                <article>
                                    <center>
                                        <h3>Pet Friendly</h3>
                                        <p>Need space for your beloved friend? We are pet friendly! They will love our fenced in dog park here onsite.</p>
                                        <a href="amenities" class="button buttonMod">Amenities</a>
                                    </center>
                                </article>

                            </div>
                        </div>
                        <div class="col-3 col-12-medium">
                            <div id="content" class="modules">

                                <!-- Content -->
                                <article>
                                    <center>
                                        <h3>Office Hours</h3>
                                        <p><strong>Monday- Friday: </strong>9am-5pm
                                            <br>
                                            <strong>Saturday: </strong>By appointment only
                                            <br>
                                            <strong>Sunday: </strong>Closed</p>
                                        <a href="contact" class="button buttonMod">Setup a Visit</a>
                                    </center>
                                </article>

                            </div>
                        </div>
                        <div class="col-3 col-12-medium">
                            <div id="content" class="modules">

                                <!-- Content -->
                                <article>
                                    <center>
                                        <h3>Current Promotion</h3>
                                        <p>Call, email, or stop by to learn more about our current promotional pricing.
                                        </p>
                                        <a href="contact" class="button buttonMod">Contact Us</a>
                                    </center>
                                </article>

                            </div>
                        </div>
                        <div class="col-3 col-12-medium">
                            <div id="content" class="modules">

                                <!-- Content -->
                                <article>
                                    <center>
                                        <h3>Coming Soon</h3>
                                        <p>Now leasing brand new construction for summer 2019!
                                        </p>
                                        <a href="/plans" class="button buttonMod">View Plans</a>
                                    </center>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-4 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3 class="center">Page Links</h3>
                            <ul class="style2 center">
                                <li><a href="/">Home</a></li>
                                <li><a href="/plans">Floor Plans</a></li>
                                <li><a href="/gallery">Photo Gallery</a></li>
                                <li><a href="amenities">Amenities</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="https://www.rentcafe.com/residentservices/west-wind-place/userlogin.aspx">Resident Portal</a></li>
                                <li><a href="assets/files/Westwind-Application-for-Tenancy.pdf">Apply Online</a></li>
                                <li><a href="assets/files/Privacy-Policy-WWP.pdf">Privacy Policy</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-4 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3 class="center">Floor Plan Links</h3>
                            <ul class="style2 center">
                                <li><a href="/plans">All Plans</a></li>
                                <li><a href="/plans#2bed">2 Bedroom</a></li>
                                <li><a href="/plans#1bed">1 Bedroom</a></li>
                                <li><a href="/plans#2StyleA">2 Bedroom Style A</a></li>
                                <li><a href="/plans#2StyleB">2 Bedroom Style B</a></li>
                                <li><a href="/plans#1StyleA">1 Bedroom Style A</a></li>
                                <li><a href="/plans#1StyleA">1 Bedroom Style B</a></li>
                                <li><a href="/plans#1StyleS">1 Bedroom Studio Style</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-4 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3 class="center">Contact Us</h3>
                            <ul class="center">
                                <li><a target="_blank" href="https://www.facebook.com/West-Wind-Place-Apartments-461905537332908" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/westwindplace/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            </ul>
                            <p class="center"><strong>West Wind Place</strong>
                                <br /> 5399 Pierce Street
                                <br /> Allendale, MI 49401
                                <br /> <a href="tel:646-895-6000">(616) 895-6000</a></p>
                        </section>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div id="copyright">
                            <ul class="menu">
                                <li>&copy; 2019 Adam Chlebek Design. This is a Mock Website!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/scroll.js"></script>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon fas fa-arrow-circle-up fa-lg"></i></button>

    <script>
        $(document).ready(function() {
                var weatherApiKey = "b4cc4db939918082b6423005a49fcae8";
                var img = document.getElementById("cloudIcon");
    
                var weatherApiCall = "https://api.darksky.net/forecast/"+weatherApiKey+"/42.957826,-85.913919";
                
                try{
                    $.ajax({
                    url: weatherApiCall,
                    type: "GET",
                    dataType: "jsonp",
                    success: function(weatherData) {
                        $(".currentTemp").html("Allendale, MI- " + weatherData.currently.temperature + " °F");
                    }
                });
                }
                catch{
                    $(".currentTemp").html('Allendale, MI');
                    img.hidden = true;
                }
            });
        </script>


</body>

</html>